<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>

    <section class="hero is-small">
        <div class="hero-body">
            <div class="container is-size-2 has-text-black has-text-centered has-text-weight-bold ">
                <h1><strong> Your Todo List </strong></h1>
            </div>
        </div>
    </section>

    <section class='section'>
        <div class="container">
            <div class="column is-one-third is-offset-4">
                <div class="content">
                    <div class="notification">
                        <label class="label"> Add Task:</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">

                                <form action='/api/todos' method='POST'>
                                    <input class='input' type="text" placeholder='Add New Task' name="todo">
                                    <select name="status" style="visibility:hidden;position:absolute;">
                                        <option value='doing'></option>
                                        <option value="complete"></option>
                                        <option value="todo" selected hidden></option>
                                    </select>
                                </form>
                            </div>
                            <div class='content'>
                                <a class='button is-info' class='submit'>
                                    Add Task
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section has-background-light">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <article class="media notification has-background-white">
                        <figure class="media-left">
                            <span class="icon has-text-danger">
                                <i class="fas fa-lg fa-list-ul"></i>
                            </span>
                        </figure>
                            <div class="content">
                                <h1 class="title is-size-4"> To Do </h1>

                                <div class='notification'>
                                

                                </div>
                            </div>
                        
                    </article>
                </div>

                <div class="column is-one-third">
                    <article class="media notification has-background-white">
                        <figure class="media-left">
                            <span class="icon has-text-warning">
                                <i class="fas fa-lg fa-th-large"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4"> Doing </h1>
                                <div class='notification'>

                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="media notification has-background-white">
                        <figure class="media-left">
                            <span class="icon has-text-success">
                                <i class="fas fa-lg fa-check-circle"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4"> Done </h1>
                                <div class='notification'>
                                    <button class="delete"></button>

                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="column">
                    <article class="media notification has-background-white">
                        <figure class="media-left">
                            <span class="icon has-text-warning">
                                <i class="fas fa-lg fa-th-large"></i>
                            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4"> Shared </h1>
                                <div class='notification'>

                                    <div class="sharedTodos">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>


    <script>

        // delete a todo
        $('#deleteTodo').on('click', deleteTodo);
        function deleteTodo() {
            var confirmation = confirm('Are you sure?');

            if (confirmation) {
                $.ajax({
                    type: 'delete',
                    url: '/api/todos/delete/' + $(this).data('id')
                })
            } else {
                return false
            }
            location.reload();
        }

        // move from todo from todo to doing
        $('#doneTodo').each(function () {
            $(this).click(function () {
                $(this).parent().appendTo('#doingTodos')
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://localhost:3000/api/todos/updateStatus/" + $(this).parent().attr('id'),
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json",
                        "cache-control": "no-cache",
                        "Postman-Token": "c0d33745-e4f7-4a16-904f-8d8ba3e155b7"
                    },
                    "processData": false,
                    "data": "{\n\t\"status\":\"doing\"\n}"
                }

                $.ajax(settings).done(function (response) {
                });
                location.reload();

            })
        })

        // move from todo from doing to done
        $('.doingTodo').each(function () {
            $(this).click(function () {
                $(this).parent().appendTo('#doneTodos')
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://localhost:3000/api/todos/updateStatus/" + $(this).parent().attr('id'),
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json",
                        "cache-control": "no-cache",
                        "Postman-Token": "c0d33745-e4f7-4a16-904f-8d8ba3e155b7"
                    },
                    "processData": false,
                    "data": "{\n\t\"status\":\"completed\"\n}"
                }

                $.ajax(settings).done(function (response) {
                });
                location.reload();

            })
        })


        // updates the todo name for tasks todo
        $('#editTodo').click(function () {
            console.log('henlo')
            var editData = $(this).parent().find('.editTodo').val();
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/todos/update/" + $(this).parent().attr('id'),
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                    "Postman-Token": "c0d33745-e4f7-4a16-904f-8d8ba3e155b7"
                },
                "processData": false,
                "data": "{\n\t\"todo\":\"" + editData + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
            });
            location.reload();
        })

        // updates the todo name for doing tasks
        $('#todoEdit').click(function () {
            var editData = $(this).parent().find('.todoEdit').val();
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/todos/update/" + $(this).parent().attr('id'),
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                    "Postman-Token": "c0d33745-e4f7-4a16-904f-8d8ba3e155b7"
                },
                "processData": false,
                "data": "{\n\t\"todo\":\"" + editData + "\"\n}"
            }

            $.ajax(settings).done(function (response) {
            });
            location.reload();
        })

        // allows sharing of tasks
        $('#shareTask').click(function () {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/todos/share",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "Postman-Token": "e74fd4ce-6c8a-4850-af2f-d6308c64f9a8"
                },
                "data": {
                    "id": $(this).parent().attr('id'),
                    "email": $(this).parent().find('#shareEmail').val()
                }
            }

            $.ajax(settings).done(function (response) {
            });
        })

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:3000/api/todos/getSharedTodos",
            "method": "GET",
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
                "Postman-Token": "e74fd4ce-6c8a-4850-af2f-d6308c64f9a8"
            }
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
            response.forEach((element) => {
                var html = `<div><li>` + element.todo + `</li></div>`;

                $('.sharedTodos').append(html);
            });
        });
    </script>

</body>

</html>