<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Login </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="loginSub">
        <input type="text" class="loginEmail" placeholder='Username'>
        <input type="text" class="loginPass" placeholder='Password'>
        <button type="text" class="submitLogin"> Login </button>
    </div>

    <div id='regSub'>
        <input type="text" class="emailReg" placeholder='Username'>
        <input type="text" class="passwordReg" placeholder='Password'>
        <button class="regSubmit"> Register </button>
    </div>

    <script>
        $('.regSubmit').click(() => {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/user",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "Postman-Token": "1e588037-0438-48b3-9ded-050a05358307"
                },
                "data": {
                    "email": $('.emailReg').val(),
                    "password": $('.passwordReg').val()
                }
            }

            $.ajax(settings).done((response) => {
                console.log(response);
            });
        })

        $('.loginSub').click(() => {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/login",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "Postman-Token": "c3fa6bba-3f18-41fd-8e83-04a033f09783"
                },
                "data": {
                    "email": $('.loginEmail').val(),
                    "password": $('.loginPass').val()
                }
            }

            $.ajax(settings).done( (response) => {
                if(response.login === "Login Successful!") {
                    window.location.replace('/api/todos');
                }
                console.log(response);
            });
        })

    </script>
</body>

</html>