<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Login </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>

    <nav class="navbar" style="height: 75px;">
        <div class="navbar-brand">
            <a class='navbar item'>
                <a class="image is-64x64">
                    <img src="/img/idea.png">
                </a>
            </a>

            <h1 class='title is-2'> Todoza </h1>
        </div>
    </nav>


    <section class="section has-background-info is-fullheight">
        <div class="hero-body">
            <div class='columns'>
                <div class="column is-4 is-offset-1">
                    <article class="media notification is-warning">
                        <figure class="media-centre">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h3 class="title has-text-black has-text-centered">Login</h3>
                                <p class="subtitle has-text-black has-text-centered">Please login to proceed</p>
                            </div>
                        </div>
                    </article>
                    <div class="box">
                        <div id='loginSub'>
                            <div class="field">
                                <label class="label has-text-centered"> Username </label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="loginEmail input is-success is-rounded" type="text" placeholder="Username"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label has-text-centered"> Password </label>
                                <div class=" control has-icons-left">
                                    <input class="loginPass input is-success is-rounded" type="password" placeholder="Password"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div><br>
                                   <strong><p class='loginFail title is-5 has-text-centered has-text-danger' style='display:none'> Username or Password Incorrect </p></strong>
                            </div>
                            <button class="submitLogin button is-rounded is-info is-large is-fullwidth"> Login
                            </button>
                         
                        </div>
                    </div>
                </div>

                <div class="column is-4 is-offset-2">
                    <article class="media notification is-warning">
                        <figure class="media-centre">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h3 class="title has-text-black has-text-centered"> Not got an account yet? </h3>
                                <p class="subtitle has-text-black has-text-centered"> Sign Up Below! </p>
                            </div>
                        </div>
                    </article>
                    <div class="box">
                        <div id='regSub'>
                            <div class="field">
                                <label class="label has-text-centered"> Username </label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="emailReg input is-success is-rounded" type="text" placeholder="Username"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label has-text-centered"> Password </label>
                                <div class=" control has-icons-left">
                                    <input class="passwordReg input is-success is-rounded" type="password" placeholder="Password"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div style='display: none' class='level regSuccess'>
                                <div class='level-item has-text-centered'>
                                    <p class="image is-64x64">
                                        <img src="/img/checked.png">
                                    </p>
                                </div>
                            </div>

                            <button class="regSubmit button is-rounded is-info is-large is-fullwidth">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>

        $('.regSubmit').click(() => {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/user",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "Postman-Token": "1e588037-0438-48b3-9ded-050a05358307"
                },
                "data": {
                    "email": $('.emailReg').val(),
                    "password": $('.passwordReg').val()
                }
            }

            $.ajax(settings).done((response) => {
                console.log(response);
            });
        })

        $('#loginSub').click(() => {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/api/login",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "Postman-Token": "c3fa6bba-3f18-41fd-8e83-04a033f09783"
                },
                "data": {
                    "email": $('.loginEmail').val(),
                    "password": $('.loginPass').val()
                }
            }

            $.ajax(settings).done((response) => {
                if (response.login === "Login Successful!") {
                    window.location.replace('/api/todos');
                }
                if (response.login === "Username or Password does not match") {
                    $(".loginFail").show()
                }
                console.log(response);
            });
        })

        $(".regSubmit").click(() => {
            $(".regSuccess").show()
        });

        $('.regSubmit').attr('disabled',true);

    $('.emailReg, .passwordReg').keyup(function(){
         if($('.emailReg').val().length < 1 || $('.passwordReg').val().length < 1){
             $('.regSubmit').attr('disabled', true);
         } else {
             $('.regSubmit').attr('disabled', false);
         }
    })

    $('.submitLogin').attr('disabled',true);

    $('.loginEmail, .loginPass').keyup(function(){
         if($('.loginEmail').val().length < 1 || $('.loginPass').val().length < 1){
             $('.submitLogin').attr('disabled', true);
         } else {
             $('.submitLogin').attr('disabled', false);
         }
    })

    $(".loginEmail, .loginPass, .emailReg, .passwordReg").keydown(function (e){
		var k = e.keyCode || e.which;
		var ok = k >= 65 && k <= 90 || // A-Z
			k >= 96 && k <= 105 || // a-z
			k >= 35 && k <= 40 || // arrows
			k == 9 || //tab
			k == 46 || //del
			k == 8 || // backspaces
			(!e.shiftKey && k >= 48 && k <= 57); // only 0-9

		if(!ok || (e.ctrlKey && e.altKey)){
			e.preventDefault();
		}
	});


    </script>
</body>

</html>